nav {
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .nav-title {
    background: linear-gradient(to right, #ff5f6d, #1c1c1e );
    padding: 20px;
    height: 15px;
    border: 1px solid #1c1c1e;
    border-radius: 40px;

}
.nav-bar .nav-title:hover{
    animation: pulsate 1s ease-in-out;
    background: #eb3349;
    transform: translateY(-7px);
    box-shadow: 0px 10px 25px #1c1c1e;
}
.nav-bar .nav-search{
    background-color: #1c1c1e;
    height: 45px ;

    flex:0.3;
    display: flex;
    border-radius: 50px;
    align-items: center;
}
.nav-bar .nav-search .searchInput{
    background-color: transparent;
    border: transparent;
    width: 50%;
    outline: transparent;
    color: whitesmoke;
    font-size: 16px;
}

.nav-bar .nav-search .btnSearchInput{
    margin: 5px;
    border-radius: 50px;
}


.nav-bar .nav-log .connexion{
    background: linear-gradient(to right, #ff5f6d, #1c1c1e );
    padding: 20px;
    height: 15px;
    border: 1px solid #1c1c1e;
    border-radius: 40px;
}
.nav-bar .nav-log .connexion:hover{
    animation: pulsate 1s ease-in-out;
    background: #eb3349;
    transform: translateY(-7px);
    box-shadow: 0px 10px 25px #1c1c1e;}
.nav-bar .nav-log .profile{
    background: linear-gradient(to right, #ff5f6d, #1c1c1e );
    padding: 20px;
    height: 15px;
    border: 1px solid #1c1c1e;
    border-radius: 40px;
}
.nav-bar .nav-log .profile:hover{
    animation: pulsate 1s ease-in-out;
    background: #eb3349;
    transform: translateY(-7px);
    box-shadow: 0px 10px 25px #1c1c1e;
}
.nav-bar .nav-log .deconnexion{
    background: linear-gradient(to right, #ff5f6d, #1c1c1e );
    padding: 20px;
    height: 15px;
    border: 1px solid #1c1c1e;
    border-radius: 40px;
}
.nav-bar .nav-log .deconnexion:hover{
    animation: pulsate 1s ease-in-out;
    background: #eb3349;
    transform: translateY(-7px);
    box-shadow: 0px 10px 25px #1c1c1e;
}
nav div a{
    color: white;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #eb3349, 0 0 50px #000;
    }
}